* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #515151;
}

/* HEADER STYLES */

.header {
  background-color: #404041;
  padding: 10px 0;
  text-align: center;
}

.title-1 {
  color: #DD1972;
  font-size: 54px;
  line-height: 1;
  text-transform: uppercase;
}

.title-1::after {
  color: #DD1972;
  content: "guesser";
  font-weight: 300;
}

.title-2 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin: 5px 0;
}

.title-2::before,
.title-2::after {
  background-color: #ffffff;
  content: " ";
  display: inline-block;
  height: 1px;
  margin-right: 8px;
  vertical-align: middle;
  width: 6%;
}

/* MAIN STYLES */

.content {
  background-color: #d1d2d4;
  display: flex;
  margin: auto;
  width: 100%;
}

.section-left {
  align-items: center;
  background-color: #f7f7f7;
  border-right: 2px solid #404041;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  width: 50%;
}

.article {
  background-color: #ffffff;
  border: 1px solid #d0d2d3;
  margin: 10px 0px;
  padding: 15px;
  width: 95%;
}

/* LEFT SECTION */

/* text styles */

.mt-20 {
  margin-top: 20px;
}

.block-title {
  color: #606060;
  margin-bottom: 5px;
}

.current-range {
  margin-bottom: 15px;
}

.range-number {
  font-weight: 700;
  text-decoration: underline;
}

/* forms styles */

.set-range__form {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

#random-number-storage {
  display: none;
  font-style: italic;
}

.challenger-name__form {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.label {
  color: #515151;
}

.input {
  border: 1px solid #d1d2d4;
  font-size: 16px;
  margin-top: 5px;
  padding: 7px;
}

.input:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05), 0 0 4px rgba(0,0,0,.2);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.05), 0 0 4px rgba(0,0,0,.2);
  outline: 0;

}

.input-wrapper--range {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.input-wrapper--name {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.input-wrapper--guess {
  display: flex;
  flex-direction: column;
  width: 28%;
}

/* error styles */

.error {
  display: flex;
  display: none;
  margin-top: 5px;
}

.error-icon {
  width: 14px;
}

.error-text {
  color: #f74d9b;
  font-size: 14px;
  margin-left: 10px;
  vertical-align: bottom;
}

.error-input {
  border: 2px solid #f74d9b;
}

.error-input:focus {
  border-color: #f74d9b;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05), 0 0 4px rgba(247, 77, 155, 0.2);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05), 0 0 4px rgba(247, 77, 155, 0.2);
}

/* buttons styles */

.button-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.button {
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 25px;
}

.button--dark-grey {
  background-color: #6e6e6e;
}

.button--dark-grey:hover,
.button--dark-grey:active {
  background-color: #dd1972;
}

.button--light-grey {
  background-color: #d0d2d3;
}

/* challenger-card styles */

.challenger-card-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.challenger-card {
  text-align: center;
  width: 50%;
}

.challenger-card:first-child {
  border-right: 1px solid #d0d2d3;
}

.challenger-card:last-child {
  border-left: 1px solid #d0d2d3;
}

.challenger-name-title {
  color: #6e6e6e;
}

.card-text {
  font-weight: 300;
  text-transform: lowercase;
}

.card-text--bigger {
  font-size: 18px;
}

.guess-number {
  color: #f74d9b;
  font-size: 72px;
  font-weight: 700;
}

/* RIGHT SECTION */

.section-right {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 50%;

}

.winner-card {
  align-items: center;
  background-color: #FFFFFF;
  color: #6E6E6E;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  width: 85%;
}

.header-card {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  width: 90%;
}

.header-name {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.vs {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
}

.winner-wrapper {
  border-bottom: 1px solid #D0d2d3;
  border-top: 1px solid #D0d2d3;
  padding: 20px 0px;
  text-align: center;
  width: 95%;
}

.winner-name {
  color: #6E6E6E;
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  cursor: pointer;
}

.winner-name:hover {
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

.winner-name::after {
  content: "winner";
  font-weight: 300;
  display: block;
  line-height: 1.0;
  text-transform: uppercase;
}

.footer-card {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0px;
}

.guesses-number {
  color: #6E6E6E;
  font-size: 14px;
  font-weight: bold;
}

.guesses-number::after {
  content: "guesses";
  font-weight: 300;
  margin-left: 2px;
  text-transform: uppercase;
}

.minutes-number {
  color: #6E6E6E;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.minutes-number::after {
  content: "minutes";
  font-weight: 300;
  margin-left: 2px;
  text-transform: uppercase;
}

.footer-delete-icon {
  cursor: pointer;
  height: 16px;
  width: auto;
}

/* *** ANIMATION CLASSES *** */
.slide-from-right {
	-webkit-animation: slide-from-right 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) ;
	        animation: slide-from-right 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) ;
}

@-webkit-keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
            transform: translateX(800px) rotateY(30deg) scale(6.5);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 600px 50%;
            transform-origin: 600px 50%;
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    -webkit-transform: translateX(800px) rotateY(30deg) scale(6.5);
            transform: translateX(800px) rotateY(30deg) scale(6.5);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 600px 50%;
            transform-origin: 600px 50%;
    opacity: 1;
  }
}

.swirl {
	-webkit-animation: swirl 0.6s ease-out both;
	        animation: swirl 0.6s ease-out both;
}

.flip {
	-webkit-animation: flip 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
@keyframes flip {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

.flash-button {
	-webkit-animation: flash 1s linear infinite both;
	        animation: flash 1s linear infinite both;
}

@-webkit-keyframes flash {
  0%,
  100% {
    background-color: #f74d9b;
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flash {
  0%,
  100% {
    background-color: #f74d9b;
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}


@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@media (max-width: 1080px) {

  .content {
    flex-direction: column;
  }

  .section-left,
  .section-right {
    width: 100%;
  }

  .button-wrapper {
    justify-content: space-around;
  }

}

@media (max-width: 550px) {

  .title-1 {
    font-size: 24px;
  }

  .title-2 {
    font-size: 10px;
  }

  .title-2::before,
  .title-2::after {
    content: " ";
    width: 5%;
  }

  .set-range__form,
  .challenger-name__form {
    align-items: flex-start;
    flex-direction: column;
  }

  .input-wrapper--range,
  .input-wrapper--name,
  .input-wrapper--guess {
    margin-bottom: 10px;
    width: 100%;
  }

  .button-wrapper {
    flex-direction: column;
    margin-top: 10px;
  }

  .button {
    margin-top: 10px;
    width: 100%;
  }

  .challenger-card-wrapper {
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
  }

  .challenger-card {
    padding: 10px 0;
    width: 100%;
  }

  .challenger-card:first-child {
    border-bottom: 1px solid #d0d2d3;
    border-right: 0;
  }

  .challenger-card:last-child {
    border-left: 0;
    border-top: 1px solid #d0d2d3;
  }

  .winner-card {
    width: 95%;
  }

  .header-card {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0px;
    width: 100%;
  }

  .vs {
    margin: 5px 0;
  }

  .winner-name {
    font-size: 28px;
  }

  .footer-card {
    justify-content: space-between;
    padding: 10px;
  }
}
